In [11]:
from time import time
import polars as pl
import pandas as pd
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns

df = pl.read_csv(r"./datasets/2019-Nov-1M.csv")

In [12]:
%%time

# With groupby we can group elements by columns' values and perform some aggregation operations

df.groupby("brand").agg(
    pl.count().alias("num_items")
)

CPU times: total: 0 ns
Wall time: 15 ms

shape: (2_650, 2)
┌──────────────┬───────────┐
│ brand        ┆ num_items │
│ ---          ┆ ---       │
│ str          ┆ u32       │
╞══════════════╪═══════════╡
│ baldessarini ┆ 18        │
│ adile        ┆ 174       │
│ canon        ┆ 1653      │
│ prestigio    ┆ 1191      │
│ …            ┆ …         │
│ t-rex        ┆ 37        │
│ gelflex      ┆ 11        │
│ rotor        ┆ 32        │
│ hercules     ┆ 4         │
└──────────────┴───────────┘

In [13]:
df.select([pl.count()])

shape: (1, 1)
┌─────────┐
│ count   │
│ ---     │
│ u32     │
╞═════════╡
│ 1000000 │
└─────────┘

In [14]:
%%time

# The same result could be sorted as follows

df.groupby("brand").agg([
    pl.count().alias("num_items_per_brand")
]).sort("num_items_per_brand", descending=True)

CPU times: total: 15.6 ms
Wall time: 23.8 ms

shape: (2_650, 2)
┌──────────┬─────────────────────┐
│ brand    ┆ num_items_per_brand │
│ ---      ┆ ---                 │
│ str      ┆ u32                 │
╞══════════╪═════════════════════╡
│ null     ┆ 147043              │
│ samsung  ┆ 126248              │
│ apple    ┆ 99213               │
│ xiaomi   ┆ 72601               │
│ …        ┆ …                   │
│ a-elita  ┆ 1                   │
│ normann  ┆ 1                   │
│ granfest ┆ 1                   │
│ leven    ┆ 1                   │
└──────────┴─────────────────────┘

In [15]:
%%time

# Perform count and percentage of instances

df.groupby("brand").agg([
    pl.count()
]).sort("count", descending=True).with_columns([
    (pl.col("count") / pl.col("count").sum()).alias("percentage")
])

CPU times: total: 0 ns
Wall time: 14.6 ms

shape: (2_650, 3)
┌─────────────┬────────┬────────────┐
│ brand       ┆ count  ┆ percentage │
│ ---         ┆ ---    ┆ ---        │
│ str         ┆ u32    ┆ f64        │
╞═════════════╪════════╪════════════╡
│ null        ┆ 147043 ┆ 0.147043   │
│ samsung     ┆ 126248 ┆ 0.126248   │
│ apple       ┆ 99213  ┆ 0.099213   │
│ xiaomi      ┆ 72601  ┆ 0.072601   │
│ …           ┆ …      ┆ …          │
│ sluban      ┆ 1      ┆ 0.000001   │
│ kirovit     ┆ 1      ┆ 0.000001   │
│ changerobot ┆ 1      ┆ 0.000001   │
│ sabi        ┆ 1      ┆ 0.000001   │
└─────────────┴────────┴────────────┘

In [16]:
%%time
df['event_type'].value_counts()

CPU times: total: 0 ns
Wall time: 13 ms

shape: (3, 2)
┌────────────┬────────┐
│ event_type ┆ counts │
│ ---        ┆ ---    │
│ str        ┆ u32    │
╞════════════╪════════╡
│ view       ┆ 967225 │
│ cart       ┆ 14958  │
│ purchase   ┆ 17817  │
└────────────┴────────┘

In [17]:
%%time
df.groupby('event_type').agg(pl.count())

CPU times: total: 15.6 ms
Wall time: 66.1 ms

shape: (3, 2)
┌────────────┬────────┐
│ event_type ┆ count  │
│ ---        ┆ ---    │
│ str        ┆ u32    │
╞════════════╪════════╡
│ purchase   ┆ 17817  │
│ cart       ┆ 14958  │
│ view       ┆ 967225 │
└────────────┴────────┘

In [23]:
%%time

#Groupby on two columns and sorting
df_brand_event = df.groupby(["brand", "event_type"]).agg(pl.count()).sort(["count"], descending=True)

df_brand_event.head()

CPU times: total: 15.6 ms
Wall time: 19 ms

shape: (5, 3)
┌─────────┬────────────┬────────┐
│ brand   ┆ event_type ┆ count  │
│ ---     ┆ ---        ┆ ---    │
│ str     ┆ str        ┆ u32    │
╞═════════╪════════════╪════════╡
│ null    ┆ view       ┆ 145478 │
│ samsung ┆ view       ┆ 116794 │
│ apple   ┆ view       ┆ 91848  │
│ xiaomi  ┆ view       ┆ 69501  │
│ huawei  ┆ view       ┆ 22773  │
└─────────┴────────────┴────────┘

In [22]:
%%time

#The pivot method make possible to fix a column as index and to expand the values of a specific column as columns using the values of the target column to fill and distribute across the new pivot columns created

df_brand_event.pivot(values="count",
                     index=["brand"],
                     columns=["event_type"])

C:\Users\Giacomo\AppData\Local\Temp\ipykernel_19620\3921812555.py:1: DeprecationWarning: In a future version of polars, the default `aggregate_function` will change from `'first'` to `None`. Please pass `'first'` to keep the current behaviour, or `None` to accept the new one.
  df_brand_event.pivot(values="count",

shape: (2_650, 4)
┌─────────┬────────┬──────┬──────────┐
│ brand   ┆ view   ┆ cart ┆ purchase │
│ ---     ┆ ---    ┆ ---  ┆ ---      │
│ str     ┆ u32    ┆ u32  ┆ u32      │
╞═════════╪════════╪══════╪══════════╡
│ null    ┆ 145478 ┆ 185  ┆ 1380     │
│ samsung ┆ 116794 ┆ 5202 ┆ 4252     │
│ apple   ┆ 91848  ┆ 3916 ┆ 3449     │
│ xiaomi  ┆ 69501  ┆ 1820 ┆ 1280     │
│ …       ┆ …      ┆ …    ┆ …        │
│ enkor   ┆ 1      ┆ null ┆ null     │
│ mammie  ┆ 1      ┆ null ┆ null     │
│ ditreex ┆ 1      ┆ null ┆ null     │
│ fidan   ┆ 1      ┆ null ┆ null     │
└─────────┴────────┴──────┴──────────┘

In [25]:
%%time

#It is possible to combine sorting with pivot operations

df_brand_event.pivot(values="count",
                     index=["brand"],
                     columns=["event_type"]).sort(["purchase", "cart"], descending=True)

CPU times: total: 0 ns
Wall time: 5.01 ms

<timed eval>:3: DeprecationWarning: In a future version of polars, the default `aggregate_function` will change from `'first'` to `None`. Please pass `'first'` to keep the current behaviour, or `None` to accept the new one.

shape: (2_650, 4)
┌─────────┬────────┬──────┬──────────┐
│ brand   ┆ view   ┆ cart ┆ purchase │
│ ---     ┆ ---    ┆ ---  ┆ ---      │
│ str     ┆ u32    ┆ u32  ┆ u32      │
╞═════════╪════════╪══════╪══════════╡
│ samsung ┆ 116794 ┆ 5202 ┆ 4252     │
│ apple   ┆ 91848  ┆ 3916 ┆ 3449     │
│ null    ┆ 145478 ┆ 185  ┆ 1380     │
│ xiaomi  ┆ 69501  ┆ 1820 ┆ 1280     │
│ …       ┆ …      ┆ …    ┆ …        │
│ leiya   ┆ 1      ┆ null ┆ null     │
│ ivc     ┆ 1      ┆ null ┆ null     │
│ belis   ┆ 1      ┆ null ┆ null     │
│ leven   ┆ 1      ┆ null ┆ null     │
└─────────┴────────┴──────┴──────────┘