In [2]:
from time import time
import polars as pl
import pandas as pd
import numpy as np
import pyarrow

import matplotlib.pyplot as plt
import seaborn as sns

df = pl.scan_csv(r"../datasets/2019-Nov.csv")

In [3]:
df.head().collect(streaming=True)

shape: (5, 9)
┌─────────────┬────────────┬────────────┬───────────┬───┬────────┬────────┬───────────┬────────────┐
│ event_time  ┆ event_type ┆ product_id ┆ category_ ┆ … ┆ brand  ┆ price  ┆ user_id   ┆ user_sessi │
│ ---         ┆ ---        ┆ ---        ┆ id        ┆   ┆ ---    ┆ ---    ┆ ---       ┆ on         │
│ str         ┆ str        ┆ i64        ┆ ---       ┆   ┆ str    ┆ f64    ┆ i64       ┆ ---        │
│             ┆            ┆            ┆ i64       ┆   ┆        ┆        ┆           ┆ str        │
╞═════════════╪════════════╪════════════╪═══════════╪═══╪════════╪════════╪═══════════╪════════════╡
│ 2019-11-01  ┆ view       ┆ 1003461    ┆ 205301355 ┆ … ┆ xiaomi ┆ 489.07 ┆ 520088904 ┆ 4d3b30da-a │
│ 00:00:00    ┆            ┆            ┆ 563188265 ┆   ┆        ┆        ┆           ┆ 5e4-49df-b │
│ UTC         ┆            ┆            ┆ 5         ┆   ┆        ┆        ┆           ┆ 1a8-ba5943 │
│             ┆            ┆            ┆           ┆   ┆        ┆        ┆           ┆ f1…        │
│ 2019-11-01  ┆ view       ┆ 5000088    ┆ 205301356 ┆ … ┆ janome ┆ 293.65 ┆ 530496790 ┆ 8e5f4f83-3 │
│ 00:00:00    ┆            ┆            ┆ 610086603 ┆   ┆        ┆        ┆           ┆ 66c-4f70-8 │
│ UTC         ┆            ┆            ┆ 5         ┆   ┆        ┆        ┆           ┆ 60e-ca7417 │
│             ┆            ┆            ┆           ┆   ┆        ┆        ┆           ┆ 41…        │
│ 2019-11-01  ┆ view       ┆ 17302664   ┆ 205301355 ┆ … ┆ creed  ┆ 28.31  ┆ 561587266 ┆ 755422e7-9 │
│ 00:00:01    ┆            ┆            ┆ 385349765 ┆   ┆        ┆        ┆           ┆ 040-477b-9 │
│ UTC         ┆            ┆            ┆ 5         ┆   ┆        ┆        ┆           ┆ bd2-6a6e8f │
│             ┆            ┆            ┆           ┆   ┆        ┆        ┆           ┆ d9…        │
│ 2019-11-01  ┆ view       ┆ 3601530    ┆ 205301356 ┆ … ┆ lg     ┆ 712.87 ┆ 518085591 ┆ 3bfb58cd-7 │
│ 00:00:01    ┆            ┆            ┆ 381077592 ┆   ┆        ┆        ┆           ┆ 892-48cc-8 │
│ UTC         ┆            ┆            ┆ 3         ┆   ┆        ┆        ┆           ┆ 020-2f17e6 │
│             ┆            ┆            ┆           ┆   ┆        ┆        ┆           ┆ de…        │
│ 2019-11-01  ┆ view       ┆ 1004775    ┆ 205301355 ┆ … ┆ xiaomi ┆ 183.27 ┆ 558856683 ┆ 313628f1-6 │
│ 00:00:01    ┆            ┆            ┆ 563188265 ┆   ┆        ┆        ┆           ┆ 8b8-460d-8 │
│ UTC         ┆            ┆            ┆ 5         ┆   ┆        ┆        ┆           ┆ 4f6-cec7a8 │
│             ┆            ┆            ┆           ┆   ┆        ┆        ┆           ┆ 79…        │
└─────────────┴────────────┴────────────┴───────────┴───┴────────┴────────┴───────────┴────────────┘

In [23]:
%%time

# Counting all the element of the Lazy Dataframe

df.select(pl.count()).collect().item()

CPU times: total: 6.72 s
Wall time: 6.71 s

67501979

In [27]:
%%time

# Counting the unique numbers of products into the DataFrame

df.select([
    pl.col('product_id').n_unique()
]).collect(streaming=True)

CPU times: total: 13 s
Wall time: 7.18 s

shape: (1, 1)
┌────────────┐
│ product_id │
│ ---        │
│ u32        │
╞════════════╡
│ 190662     │
└────────────┘

In [30]:
%%time

# With groupby we can group elements by columns' values and perform some aggregation operations with lazy dataframe

df.groupby("brand").agg(
    pl.count().alias("num_items")
).collect(streaming=True).head()

CPU times: total: 3.44 s
Wall time: 5.94 s

shape: (5, 2)
┌──────────┬───────────┐
│ brand    ┆ num_items │
│ ---      ┆ ---       │
│ str      ┆ u32       │
╞══════════╪═══════════╡
│ pioneer  ┆ 201799    │
│ moony    ┆ 1183      │
│ kipocket ┆ 1376      │
│ niio     ┆ 1136      │
│ master   ┆ 1864      │
└──────────┴───────────┘

In [5]:
%%time

# Aggregation with sorting

df.groupby("brand").agg([
    pl.count().alias("num_items_per_brand")
]).sort("num_items_per_brand", descending=True).collect(streaming=True).head()

CPU times: total: 6.36 s
Wall time: 6.85 s

shape: (5, 2)
┌─────────┬─────────────────────┐
│ brand   ┆ num_items_per_brand │
│ ---     ┆ ---                 │
│ str     ┆ u32                 │
╞═════════╪═════════════════════╡
│ null    ┆ 9218235             │
│ samsung ┆ 7889245             │
│ apple   ┆ 6259379             │
│ xiaomi  ┆ 4638062             │
│ huawei  ┆ 1410126             │
└─────────┴─────────────────────┘

In [1]:
%%time

#Groupby on two columns and sorting
df_brand_event = df.groupby(["brand", "event_type"]).agg(pl.count()).sort(["count"], descending=True)

df_brand_event.collect(streaming=True).head()

NameError: name 'df' is not defined